@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
.r-width {
    width: 100%;
    max-width: 24rem;
}

@media (min-width: 640px) {
    .r-width {
        max-width: 28rem;
    }
}

@media (min-width: 768px) {
    .r-width {
        max-width: 32rem;
    }
}

@media (min-width: 1024px) {
    .r-width {
        max-width: 48rem;
    }
}

@media (min-width: 1280px) {
    .r-width {
        max-width: 56rem;
    }
}